/* regole base */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  color:#3a3a71;
}
.container{
  padding: 0 15%;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
/* header */

/* regole header lingua-login */
.lingua-login{
  background-color: #f1f1f1;
  height: 50px;
  border-bottom: 1px solid black;
}
.lingua-contatti{
  float: left;
  margin-right: 10px;
  line-height: 50px;
}
.lingua-contatti a{
  text-decoration: none;
  color:#3a3a71;
}
.lingua-contatti a:hover{
  text-decoration: underline;
}
.login{
  float:right;
  margin-top: 8px;
}
.login div{
  font-size: 15px;
  padding: 8px 10px;
  display: inline-block;
  background-color: #ff7a59;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.login form{
  display: inline-block;
}
.login i,button{
  margin-right: 20px;
}
.login i{
  color: #42aacc;
}
.login button{
  padding: 5px;
  background-color: white;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
}
/* regole header menu-nav */
.nav{
  background-color: white;
  height: 50px;
}
.nav img{
  float:left;
  height: auto;
  margin: 10px 0;
}
.nav li{
  float: right;
  display: inline-block;
  margin: 0 15px;
  line-height: 50px;

}
.nav li:first-child{
  margin-right: 0;
}
.menu a{
  text-decoration: none;
  color: black;
}
.menu a:hover{
  text-decoration: underline;
}
/* regole header jumbotron */
.jumbotron{
  background-image: url('../img/jumbotron.png');
  width: 100%;
  height:700px;
  background-size: cover;
  background-position: bottom;
  float: left;
}
.jumbotron h1{
  font-size: 40px;
  color:#3a3a71;
  padding-top: 50px;
  width: 38%;
}
.text-jumbotron{
  margin-top: 30px;
  width: 45%;
}
.info{
  display: inline-block;
  margin-top: 30px;
  padding: 20px;
  color: white;
  font-weight: bold;
  background-color: #ff7a59;
  border-radius: 5px;
}
/* fine header */

/* main */
/* section service */
.service{
  text-align: center;
  background-color: #fdf9f9;
}
.service img{
  width: 20%;
  height: auto;
  margin: 30px 0 10px 0;
}
.text-service{
  width: 70%;
  margin: 20px auto;
}

/* primo blocco */
.blocco-orizzontale{
  width: 96%;
  padding: 3% 6%;
  margin: 40px auto;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}
.left img{
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
.left{
  float: left;
  margin-right:6%;
  width: 20%;
}
.right{
  float: left;
  text-align: left;
  width: 70%;
}
.right p{
  margin: 30px 0 30px 0;
}

.right li{
  margin: 30px 50px 0 0;
  display: inline-block;
}
.fas.fa-check-circle{
  color: #ff7a59;
}
/* fine primo blocco */

/* secondo blocco */
.float{
  float: left;
  margin: 0 2% 30px;
  width: calc(100% / 3 - 4%);
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}
.float svg{
  width: 40%;
  height: auto;
  margin: 10px 0;
}
.float p{
  width: 85%;
  margin: 30px auto;
  padding-bottom: 40px;
  border-bottom: 2px solid black;
}
.float ul{
  margin: 20px auto 30px;
  list-style: none;
  width: 85%;
  text-align: left;
}
.float div{
  display: inline-block;
  margin: 20px 0;
  padding: 20px;
  color: white;
  font-weight: bold;
  background-color: #ff7a59;
  border-radius: 5px;
}
/* fine secondo blocco */

/* section number */
.number{
background-image: linear-gradient(to top right, #3392d0 0%, #49bd62 100%);
color: white;
text-align: center;
padding-bottom: 50px;
}
.number h2{
  padding: 30px 0;
  width: 80%;
  margin: auto;
}
.number p{
  margin-bottom: 50px;
}
.row{
  float: left;
  width: calc(100% / 4 - 1px);
  height: 200px;
  border-right: 1px solid white;
}
.bordo{
  border-right: 0;
}
.high{
  border-bottom: 1px solid white;
}
.row img{
  margin:20px 0;
}
#img{
  width: 50%;
  height: auto;
}
#img1{
  width: 15%;
  height: auto;
}
.row .numero{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* section customer */
/* loghi */
.loghi{
  padding: 30px 0;
}
.loghi > div{
  float: left;
  margin: 0 5%;
}
.left-customer{
  width: 20%;
}
.left-customer p{
  margin:40px 0;
}
.left-customer div{
  font-size: 40px;
  font-weight: bold;
}
.right-customer{
  width: 60%;
}
.right-customer img{
  float: left;
  width: calc(100% / 4 - 6%);
  height: auto;
  margin:20px 3%;
}
#crowd{
  margin-top: 10px;
}
#monkey{
  margin-top: 0;
}
#wistia{
  margin-top:26px;
}
#classpass{
  margin-top: 11px;
}

/* growing */
.growing{
  padding: 5px 0 30px;
}
.growing-left{
  float: left;
  width: 35%;
}
.growing-left p{
  margin: 30px 0 5px;
}
#short{
  font-size: 12px;
}
.growing-right{
  float: right;
  text-align: right;
}
#woman{
  width: 40%;
  height: auto;
}
/* fine main */

/* footer */
footer{
  background-color: #2d3e50;
  color: #a7a7a7;
}
.float-footer{
  float: left;
  margin: 30px 2% 40px 0;
}
.float-footer h3{
  margin-bottom: 20px;
  color: white;
}
.float-footer li{
    list-style: none;
    margin: 10px 0;
}
.float-footer a{
  color: #a7a7a7;
  text-decoration: none;
}
.lingue{
  padding-bottom: 10px;
  border-bottom: 1px solid;
  text-align: center;
  margin-bottom: 20px;
}
.lingue li{
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.copyright{
  padding-bottom: 40px;
}
.left-copyright{
  float: left;
  color: white;
}
.right-copyright{
  float: right;
}
.right-copyright a{
  color: #a7a7a7;
  text-decoration: none;
  margin-left: 20px;
}
footer a:hover{
  text-decoration: underline;
  color: lightblue;
}
