/* regole base */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  color:#3a3a71;
}
.container{
  padding: 0 15%;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* debug */
footer{
  background-color: yellow;
  height: 200px;
}
/* fine debug */

/* header */

/* regole header lingua-login */
.lingua-login{
  background-color: lightgrey;
  height: 50px;
  border-bottom: 1px solid black;
}
.lingua-contatti *{
  float: left;
  margin-right: 10px;
  line-height: 50px;
}
.login *{
  float:right;
  margin: 0 10px;
  /* line-height: 50px; */
}
.login span{
  margin-right: 0;
}

/* regole header menu-nav */
.nav{
  background-color: white;
  height: 50px;
}
.nav img{
  float:left;
  height: auto;
  margin: 10px 0;
}
.nav li{
  float: right;
  display: inline-block;
  margin: 0 15px;
  line-height: 50px;
}
.nav li:first-child{
  margin-right: 0;
}

/* regole header jumbotron */
.jumbotron{
  background-image: url('../img/jumbotron.png');
  width: 100%;
  height:700px;
  background-size: cover;
  background-position: bottom;
  float: left;
}
.jumbotron h1{
  font-size: 40px;
  color:#3a3a71;
  padding-top: 50px;
  width: 38%;
}
.text-jumbotron{
  margin-top: 30px;
  width: 45%;
}
.info{
  display: inline-block;
  margin-top: 30px;
  /* height: 50px;
  width: 100px; */
  padding: 20px;
  color: white;
  font-weight: bold;
  background-color: #ff7a59;
  border-radius: 5px;
}
/* fine header */

/* main */
.service{
  text-align: center;
  background-color: #e6e1e1;
}
.service img{
  width: 20%;
  height: auto;
  margin: 30px 0 10px 0;
}
.text-service{
  width: 70%;
  margin: 20px auto;
}
.blocco-orizzontale{
  padding: 3% 6%;
  margin: 40px 0;
  border: 1px solid black;
}
.left img{
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
.left{
  float: left;
  margin-right:6%;
  width: 20%;
}
.right{
  float: left;
  text-align: left;
  width: 70%;
}
.right p{
  margin: 30px 0 30px 0;
}

.right li{
  margin: 30px 50px 0 0;
  display: inline-block;
}
.right i{
  margin-right: 5px;
  color: #ff7a59;
}

/* fine main */
